Result/
__pycache__/
temp/
test/
.vs/
.gradio/
.qodo/
log/
build/
dist/

*.xlsx
*.7z
*.zip
test.py
*.ttf
*.onnx
.qodo
.claude/settings.json
.claude/settings.local.json
img/custom
config/system_config.json
